<main>
<header class="row" style="background-image: url('/../img/background_full.png'); " >

<div class="flex-container-header p-3" style="background-color:#e2d8a6b4">


   <div class="flex-items-header">
      <h1 class="fw-bold text-uppercase" style="color:rgba(151, 19, 19, 0.973);">  
      <font face="Luminary">Інститут Інтермаріум</font></h1>
   </div>
   <div class="flex-items-header justify-content-center"> 
                   <a href="https://institute-intermarium.com" alt="Інститут Інтермаріум">
                   <img class="container-flex" src="/img/emblogo.png" alt="Логотип" style="width: 100%; height: auto;">
                   </a>
   </div>
   <div class="flex-items-header">
      <h1 class="fw-bold text-uppercase" style="color:rgba(151, 19, 19, 0.973);"> 
      <font face="Luminary">Institute Intermarium</font></h1>
    </div>


</div>


</header>
<div class="row justify-content-center">
<div class="w3-bar " style="background-color:rgba(104, 10, 10, 0.973); color:rgba(240, 227, 172, 0.938);">
  <a href="https://www.facebook.com/instituteintermarium" class="w3-bar-item w3-button"><i class="fa fa-facebook-official"></i></a>
  <a href="#" class="w3-bar-item w3-button w3-mobile">Про Інститут</a>
  <a href="#" class="w3-bar-item w3-button w3-mobile">Склад Інституту</a>
  <a href="#" class="w3-bar-item w3-button w3-mobile">Новини, події</a>
  <a href="#" class="w3-bar-item w3-button w3-mobile">Статті, аналітика</a>
  <a href="#" class="w3-bar-item w3-button w3-mobile">Контакти</a>
</div>
</div>





<div class="w3-container text-center w3-padding-32" style="background-color:rgba(255, 245, 201, 0.404);">

<h2 class="fw-bold text-uppercase" style="color:rgba(151, 19, 19, 0.973);">Концепція Інтермаріуму</h2>

<div class="w3-container m-3">

<div class="flex-container m-3">
  <div class="row justify-content-between p-3">

   
       <div class="card  mb-3" style="max-width: 1624px;">
      <div class="row g-0">
        <div class="col-md-4">
         <img src="/img/img_map.png" class="float-start top-50 border-end w-100 px-5 py-5 my-5">
        </div>
        <div class="col-md-8">
          <div class="card-body me-3">

    <p class="ms-1 fs-5 text-start"> Пересічному громадянину, та й, навіть, тим, хто цікавиться політикою, історією, суспільно-політичними процесами, може бути незрозумілим термін «Інтермаріум», як і поняття Міжмор’я та Балто-Чорноморського союзу. Тому, варто пояснити ідею та концепцію Інтермаріуму.</p>
            <br>
    <p class="ms-1 fs-5 text-start">Почнемо з термінології. Й термін «Інтермаріум», й «Міжмор’я», і в меншій мірі «Балто-Чорноморський союз» являються тотожними. До цих термінів ще можна віднести такі, як «Балто-Чорноморська вісь», «Тримор’я», «Мезоєвразія» тощо. Проте, ідею такого союзу не треба розуміти банально. Вона має кілька трактувань та варіантів. Дійсно, ідея Інтермаріуму може трактуватися, як ідея створення конфедерації (федерації) України, Польщі, країн Балтії, інших країн Центральної, Південно-Східної та Північної Європи або створення на основі цих держав військово-політичного чи економічного об’єднання, на зразок НАТО чи ЄС.</p>
    <p class="ms-1 fs-5 text-start">Водночас, під ідеєю Інтермаріуму може розумітись більш тісна співпраця вищезгаданих держав в суспільно-політичній, економічній, безпековій, інформаційній, культурних сферах без створення наддержавного об’єднання. </p>
           <br>
    <p class="ms-1 fs-5 text-start">Ідея Інтермаріуму не нова. Вона зародилася після Першої світової війни, коли країни Центральної та Південно-Східної Європи здобули або відновили власну державність. Хоча, ще до подій понад сторічної давнини різноманітні ідеї альянсів чи слов’янських народів, чи взагалі – народів Центральної та Південно-Східної Європи вже були присутні в суспільному дискурсі. На етапі зародження ця ідея була виголошена князем Адамом Єжи Чарторийським як засіб убезпечити Польщу та Європу загалом від російської експансії й передбачала розширення Польщі на південь та включення до її складу Пруссії. </p>
    <p class="ms-1 fs-5 text-start">Пізніше прихильниками Балто-Чорноморського союзу були перший голова відродженої польської держави Юзеф Пілсудський та міністр закордонних справ Польщі Юзеф Бек. Пілсудський розглядав проект Міжмор'я, до складу якого мали входити сучасні території Польщі (окрім Пруссії), Литви, Білорусі, України та Росії. Його ідеї часто ототожнюють з рухом Прометеїзму – діяльністю діаспорних політичних організацій народів колишньої Російської імперії задля спільної боротьби проти СРСР за створення своїх національних держав.</p>
              <br>
    <p class="ms-1 fs-5 text-start">Існували й інші проекти конфедеративної держави, до якої мали входити Польща, Україна, Білорусь, Литва, Латвія, Естонія, Молдова, Угорщина, Румунія, Югославія, Чехословаччина, а також, можливо, Фінляндія. Ця конфедерація повинна була сягати від Чорного й Адріатичного до Балтійського моря. Пропонована Пілсудським конфедерація мала продовжити багатонаціональну та багатокультурну традицію колишньої Речі Посполитої. Пілсудський вважав, що її відновлення дозволить уникнути державам Центральної Європи домінування Німеччини або Росії.</p>
              <br>
    <p class="ms-1 fs-5 text-start">Новий подих ідеї Інтермаріуму отримали після розпаду соцтабору та Радянського союзу. Хоча Польща, країни Балтії та інші країни регіону практично одразу стали на шлях євроатлантичної інтеграції, тема різноманітних об’єднань та альянсів серед пострадянських країн постійно розвивалася. Вже в 1991 році було створено міждержавний клуб трьох, а після розпаду Чехословаччини, чотирьох держав – Польщі, Чехії, Словаччини та Угорщини, який отримав назву Вишеградської четвірки або Вишеградської групи. Спроби утворення міждержавного об’єднання спостерігались також і серед колишніх республік СРСР. Так у 1997 році постало регіональне об'єднання чотирьох держав: Грузії, України, Азербайджанської Республіки та Республіки Молдова – ГУАМ. Воно було створене для протистояння впливу Росії в регіоні й отримало підтримку США. У 1999 році організація була перейменована у ГУУАМ завдяки вступу Республіки Узбекистан до неї. Утім, 5 травня 2005 року Узбекистан вийшов з організації, викликавши повернення початкової назви. Навіть тодішнє керівництво України з радянським менталітетом вбачало в ГУАМ україноцентричне об’єднання та підкреслювало, що прагне бачити Україну регіональним лідером.</p>
            <br>
    <p class="ms-1 fs-5 text-start">Вступ країн Балтії, Польщі, Чехії, Словаччини та Угорщини до Європейського союзу дещо загальмував ідеї Інтермаріуму, але вони продовжували розвиватися в академічному та суспільно-політичному сегменті. Після 2014 року в зв’язку з захопленням Росією Криму та втручанням в конфлікт на Донбасі, Україна поступово розривала всебічні стосунки з Москвою. Повномасштабна війна, яка почалась 24 лютого 2022 року остаточно та безповоротно поховала будь які контакти та співпрацю України та Росії. Відтак, ідеї Інтермаріуму отримали не лише новий імпульс, а й більш реальну концепцію, оскільки вийшли за межі суто теоретичного дискурсу. </p>
    <br>
    <p class="ms-1 fs-5 text-start">Наразі існує кілька основних ідей та варіацій подальшого розвитку проекту Інтермаріум:</p>

                <ol class="text-start">
                  <li class="fs-5">Створення конфедерації або протоконфедерації України, Польщі, можливо Литви та інших країн Балтії з єдиною економічною, митною, інформаційною, фінансовою, політичною зоною;</li>
                  <li class="fs-5">Створення під егідою Великобританії та, за певних умов США, міждержавного об’єднання на основі України, Польщі, країн Балтії, інших країн регіону;</li>
                  <li class="fs-5">Поглиблення всебічної співпраці між країнами Центральної та Східної Європи, передусім, Польщею, Україною, країнами Балтії;</li>
                  <li class="fs-5">Створення міждержавного об’єднання на основі вищезгаданих країн з акцентом на колективну безпеку та оборону. </li>
                </ol>
<br>

    <p class="ms-1 fs-5 text-start">Окремі з цих варіантів є більш реальними, окремі – менш реальними, виходячи з певних обставин, таких, як членства Польщі та країн Балтії в ЄС та НАТО, але всі вони ґрунтуються на розширенні та поглибленні всебічної співпраці між країнами Центральної, Південно-Східної та Північної Європи, зростання їхнього авторитету та геополітичної ваги. </p>
    <p class="ms-1 fs-5 text-start">Українська погляд на концепцію Інтермаріуму має ґрунтуватися на україноцентризмі – лобіюванні всебічних інтересів України серед країн, які передусім входять в концепцію Інтермаріуму та серед інших країн Європи та світу. Який би з варіантів альянсу на основі ідеї Інтермаріуму не розглядався, для України він може стати інструментом розширення її всебічних зовнішньополітичних контактів, одним з джерел післявоєнного відродження, зростання міжнародного авторитету Києва.</p>

    

          </div>
        </div>
      </div>
    </div>
   
</div>
</div>

  </div>
</div>






  <!-- Footer -->
  <footer>
  <div class="w3-container w3-padding-32" style="background-color: #9e1e10;">
  <div class="w3-row-padding">


    <div class="w3-third">
      <h3>Інститут "Інтермаріум"</h3>
      <div class="box13 p-2">
      <p>Повномасштабна війна, яка почалась 24 лютого 2022 року остаточно та безповоротно поховала будь які контакти та співпрацю України та Росії.</p>
      <p>Відтак, ідеї Інтермаріуму отримали не лише новий імпульс, а й більш реальну концепцію, оскільки вийшли за межі суто теоретичного дискурсу.</p>
      <p>Керівник Інституту - <a href="https://institute-intermarium.com/direction.html" target="_blank" style="color:#e2d8a6ec;">Валентин Гайдай</a></p>
    </div>
  </div>
    <div class="w3-third">
      <h3>ПУБЛІКАЦІЇ НА САЙТІ</h3>
      <ul class="w3-ul w3-hoverable">
        <li class="w3-padding-16 box13">
          <img src="/img/inmarmapa.png" class="w3-left w3-margin-right" style="width:50px">
          <span class="w3-large">В Україні засновано Інститут "Інтермаріум"</span><br>
          <span>Про проєкт</span>
        </li>
        <li class="w3-padding-16 box13">
          <img src="/img/publicembl.png" class="w3-left w3-margin-right" style="width:50px">
          <span class="w3-large">Концепція Інтермаріуму</span><br>
          <span>Новий подих ідеї</span>
        </li> 
      </ul>
    </div>

    <div class="w3-third box13">
      <h3>ПОПУЛЯРНІ ТЕГИ</h3>
      <p>
        <span class="w3-tag w3-black w3-margin-bottom">Інститут Інтермаріум</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">Склад Інституту</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">Аналітична кафедра</span>
        <span class="w3-tag w3-grey w3-small w3-margin-bottom">Концепція Інтермаріуму</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">Діяльність Інституту</span>
        <span class="w3-tag w3-grey w3-small w3-margin-bottom">Аналітика</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">Останні Новини</span> 
        <span class="w3-tag w3-grey w3-small w3-margin-bottom">Статті</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">Події</span> 
        <span class="w3-tag w3-grey w3-small w3-margin-bottom">Зворотній зв'язок</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">Контакти</span>
      </p>
    </div>

  </div>
  </div>
  <div class="row w3-black w3-center w3-padding-24 fs-5">
  <a href="#" class="w3-button w3-black w3-padding-large w3-margin-bottom float-end"><i class="fa fa-arrow-up w3-margin-right"></i>Нагору</a>

<script>

document.getElementById("myBtn").click();
function myFunction(id) {
  var x = document.getElementById(id);
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}

function likeFunction(x) {
  x.style.fontWeight = "bold";
  x.innerHTML = "✓ Liked";
}
</script>

</div>
   <div class="w3-black w3-center w3-padding-24 fs-5">
           <a href="https://www.facebook.com/instituteintermarium" alt="Institute Intermarium" class="dark text-dark nav-link float-start ps-5">
              <svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" fill="currentColor" class="bi bi-facebook dark" viewBox="0 0 16 16" > 
  <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
</svg></a>
      Copyright © 2023 - <a href="https://institute-intermarium.com/" title='Institute "Intermarium"' target="_blank" class="w3-hover-opacity p-2 mb-1 fs-5" style="color:#e2d8a6ec;">Institute "Intermarium"</a></div>
  <div class="w3-black w3-center pb-4 fs-6">Powered by <a href="https://www.facebook.com/bbq.dev/" title="BBQuality" target="_blank" class="w3-hover-opacity mb-5 fs-6" style="color:#e2d8a6ec;">BBQuality</a></div>
  </footer>


</main>