<div id="cssDisplay" class="row  p-3">


    <div class="col-md-4" style="background-color: #e2d8a6f6;">
       <a href="yurchenko.php" class="btn">
<div class="w3-card w3-card w3-hover-shadow">
  <div class="col-12 row">
    <img id="cssDisplay" src="/../img/yurchenko.png" class=""></div>
    <div class="flex-row p-2 my-2 text-center">
     <h2 class="card-text">Едуард Юрченко</h2>
     <h3 class="card-text">Експерт Інституту «Інтермаріум»</h3>
</div>
</div>
</a>
</div>

    <div class="col-md-4" style="background-color: #e2d8a6f6;">
       <a href="chaplygin.php" class="btn">
<div class="w3-card w3-hover-shadow">
  <div class="col-12 row">
    <img id="cssDisplay" src="/../img/chap.png">
    </div>

<div class="flex-row p-2 my-2 text-center">
        <h2 class="card-text">Сергій Чаплигін</h2> 
        <h3 class="card-text">Експерт Інституту «Інтермаріум»</h3>
</div>

 </div>  
   </a> 
</div>

    </div>
