
    <div id="cssDisplay" class="card  mb-3" style="background-color: #e2d8a6f6;" >
      <div class="row g-0">
        <div class="col-md-4" style="background-color: #e2d8a6de;">
         <img src="/../img/haidaj.png" class="float-start border-end w-100 px-5 py-5 my-5" >
        </div>
        <div class="col-md-8" style="background-color: #e2d8a6de;" >
          <div class="card-body me-3">
               <h2 class="card-title text-start">Валентин Гайдай</h2>
            <ul>
                <li class="fw-medium ms-1 fs-5 text-start">Директор Інституту «Інтермаріум».</li>
                <li class="fw-medium ms-1 fs-5 text-start">Кандидат історичних наук.</li>
            </ul>
            <p class="ms-1 fs-5 text-start">   Автор понад 120 наукових, науково-популярних та аналітичних праць з історії, політології та інших соціогуманітарних наук.</p>
    <p class="ms-1 fs-5 text-start">   Вищу освіту здобув в Національному педагогічному університеті імені М. Драгоманова за спеціальністю «історія та правознавство». </p>
    <p class="ms-1 fs-5 text-start">    В 2016 році захистив дисертацію з політичної історії Польщі на тему «Громадські організації Польщі 1918-1939 років: інституційний розвиток та суспільно-політична діяльність». </p>
    <p class="ms-1 fs-5 text-xl-start">  Наразі продовжує досліджувати суспільно-політичні процеси в країнах Центральної та Південно-Східної Європи. 
    Є прихильником ідеї створення Балто-Чорноморського союзу або інших геополітичних об’єднань, що належать до концепції Міжмор’я (Інтермаріуму). Виступає за україноцентризм, зокрема у зовнішній політиці та за поглиблення всебічної співпраці України з країнами Заходу, передусім, з США, Великобританією та країнами Центральної Європи, як з найближчими партнерами України, а також за розширення партнерських контактів України у світі. 
    В квітні 2023 року разом з колегами та однодумцями заснував аналітичний та інформаційно-просвітницький центр Інститут «Інтермаріум».</p>
          </div>
        </div>
      </div>
    </div>