<div id="cssDisplay" class="w3-center res-win text-center w3-padding-32 pt-0" style="background-color:rgba(255, 245, 201, 0.877);">

<div class="w3-container w3-center p-2 inside-box" style="background-color:rgba(255, 245, 201, 0.699);">

<div class="row justify-content-around w3-center g-3 p-4 ">

  <div class="col-md-3 justify-content-between p-2 m-2 box7" style="background-color:rgba(255, 245, 201, 0.877);">
<div class="flex-items justify-content-center text-center box7">
  <img id="cssDisplay" src="/img/duda.webp" class="w3-image rounded p-1 res-win box13 box8" style="background-color:rgba(255, 240, 172, 0.938); ">
   <a class="nav-link" href="/poldanes.php" style="color: black;">  
   <h6 class="fw-semibold py-2 fs-3" style="color:rgba(151, 19, 19, 0.973);">Президент Польщі Анджей Дуда заявив, що Варшава зацікавлена в тому, 
  щоб Київ дав відсіч Москві і саме тому надає військову допомогу. </h6>
  </a>
   </div>
   <div class="p-2">

<p class="description">
  Президент Польщі Анджей Дуда заявив, що Варшава зацікавлена в тому, 
  щоб Київ дав відсіч Москві і саме тому надає військову допомогу. 
  Цитату з інтерв'ю польського лідера TVP опублікувала 2 травня у Twitter його канцелярія.
</p>



    <p class="description">
"Я переслідую інтерес Республіки Польща, і він полягає в тому, щоб Україна дала відсіч російському агресору. 
Саме тому ми приймаємо рішення про військову допомогу. Ми проявили добросусідство, ми здобули авторитет на міжнародній арені завдяки надзвичайному жесту з боку поляків", - зазначив Дуда.
  </p>
  
  </div>
    </div>



 <div class="col-md-3 justify-content-around p-2 m-2 box7" style="background-color:rgba(255, 245, 201, 0.877);">
   <div class="flex-items justify-content-center text-center box7 ">
    <img id="cssDisplay" src="/img/inmarmapa.png" class="w3-image rounded p-1 res-win box13 box8" style="background-color:rgba(153, 153, 152, 0.829); ">
   <a class="nav-link" href="/concept.php" style="color: rgba(228, 226, 226, 0.753);"> 
    <h4 class="fw-semibold py-2 fs-3" style="color:rgba(151, 19, 19, 0.973);">Концепція Інтермаріуму</h4>
    </a>
   </div>
   <div class="p-2">
   <p class="resume align-center">Ідея Інтермаріуму не нова. Вона зародилася після Першої світової війни, коли країни Центральної та Південно-Східної Європи здобули або відновили власну державність. Хоча, ще до подій понад сторічної давнини різноманітні ідеї альянсів чи слов’янських народів, чи взагалі – народів Центральної та Південно-Східної Європи вже були присутні в суспільному дискурсі.</p>
</div>

</div>

 <div class="col-md-3 justify-content-around p-2 m-2 box7" style="background-color:rgba(255, 245, 201, 0.877);">
   <div class="flex-items justify-content-center text-center box7">
    <img id="cssDisplay" src="/img/publicembl.png" class="w3-image rounded p-1 res-win box13 box8 " style="background-color:rgba(153, 153, 152, 0.829); width: 450px;">
   <a class="nav-link" href="/intermarium-fund.php" style="color: black;">  
   <h4 class="fw-semibold py-2 fs-3" style="color:rgba(151, 19, 19, 0.973);">В Україні засновано Інститут "Інтермаріум"</h4>
   </a>
   </div>


<div class="p-2">

 <p class="resume align-center"> В квітні 2023 року в Києві було засновано Інститут «Інтермаріум».</p>
  <p class="resume align-center">Його засновниками є українські науковці, експерти та громадські діячі.</p>
<p class="resume align-center">Інститут «Інтермаріум» який являє собою організацію науково-дослідного та інформаційно-просвітницького типу. Ми – своєрідний клуб, який покликаний об’єднати науковців, політиків, громадських діячів, журналістів, волонтерів, всіх небайдужих і зацікавлених в наших ідеях та напрямках діяльності. </p>

</div>

   </div>

</div>

  </div>
  </div>
</div>
</div>