<main id="headerTitle" title="Вміст головної сторінки сайту" style="background-image: url('/../img/background_full.webp');" translate="yes" dir="ltr" lang="uk-UA" tabindex="1">

 <div class="w3-padding-large" style="background-color:rgba(255, 245, 201, 0.777);">
    <div id="wrapper" >  
      
        <div id="leftcolumn" class="row m-1 p-3 fw-semibold justify-space-around" style="font-size: 20px; background-color:rgba(82, 20, 11, 0.966); color:rgba(255, 245, 201, 0.910);">
<div class="  mx-3 p-3 justify-space-around">


            <em>Інститут «Інтермаріум» являє собою аналітичний та інформаційно-просвітницький центр.</wbr> Аналітична кафедра Інституту, </em>

            <em>до якої входять українські вчені та експерти,  </wbr>досліджує поточні суспільно-політичні процеси в Україні та світі, </em>
            <em>моделює стратегію післявоєнної відбудови України, </wbr>концепцію та стратегію нової системи колективної безпеки в Європі, зокрема,  </em>
            <em> в Центральноєвропейському, Східноєвропейському, Чорноморському регіоні,</wbr> займається дослідженням інших актуальних тем та процесів. </em>
            <em> Команда Інституту «Інтермаріум» обстоює </wbr> ідеї Балто-Чорноморського союзу/Міжмор’я  </em>
            <em> або будь-яких інших форм та концепцій альянсів, </wbr>міждержавних об’єднань  </em>
             <em> на основі  країн Північної, Центральної, </wbr>Південно-Східної Європи, Південного Кавказу, </em>
              <em> Туреччини і Великобританії </wbr>та поглиблення всебічного партнерства між ними.</em>
              </div>
</div>
       
       
       
          <div  class="box3 col row border rounded justify-space-around w3-center"   style="background-color:rgba(255, 245, 201, 0.790);">
      <div class="row col  w3-center justify-space-around">

<div class="col rounded w3-hover-shadow justify-space-between" style="color:rgba(151, 19, 19, 0.993); max-height: 300px; max-width: 300px; height: auto; width: auto;">
    <div class="card h-70 box18" style="width: 100%;">
 <a class="nav-link" title="Калінінград перейменували на Крулєвєц" href="/krulevec" > 
      <img src="/tidings/news/img/krulevec.webp" class="w3-image" alt="Калінінград перейменували на Крулєвєц" style="max-width: auto; width: 300px;"/>
</a>
          <div class="card-body" style="color:rgba(151, 19, 19, 0.993); max-height: 260px; max-width: 280px; height: auto; width: auto;">
 <a class="nav-link" title="Калінінград перейменували на Крулєвєц" href="/krulevec" style="color:rgba(151, 19, 19, 0.993);"> 
            <p class="card-title semibold" style="color:rgb(151, 19, 19); font-size: 16px;">В Польщі перейменували Калінінград на Крулєвєц</p>
       </a>
          </div> 

        </div> 
      </div>

<div class="col rounded w3-hover-shadow justify-space-between" style="color:rgba(151, 19, 19, 0.993); max-height: 300px; max-width: 300px; height: auto; width: auto;">
    <div class="card h-70 box18" style="width: 100%;">
      <a class="nav-link" href="/yurchenko-task_for_future_study" style="color:rgba(187, 20, 20, 0.993);" title="Едуард Юрченко про концепцію війн нового покоління"> 
      <img src="/img/article-yiurchenko.webp" class="w3-image" style="max-width: auto; width: 300px;" alt="Едуард Юрченко"/>
          
            </a>   
            <a class="nav-link card-text" href="yurchenko-task_for_future_study" style="color:rgba(151, 19, 19, 0.993);" title="Едуард Юрченко про концепцію війн нового покоління"> 
            <div class="card-body" style="color:rgba(151, 19, 19, 0.993); max-height: 260px; max-width: 280px; height: auto; width: auto;">
           <p class="card-title semibold" style="color:rgb(151, 19, 19); font-size: 16px;">Едуард Юрченко про концепцію війн нового покоління</p>
          </div>    
          </a>
        </div>  
</div>
    


<div class="col rounded w3-hover-shadow justify-space-between" style="color:rgba(151, 19, 19, 0.993); max-height: 300px; max-width: 300px; height: auto; width: auto;">
    <div class="card h-70 box18" style="width: 100%;">
    <a class="nav-link " href="/poldanes" style="color:rgba(151, 19, 19, 0.993);">
      <img src="/img/duda_pol.webp" class="w3-image" style="max-width: auto; width: 300px;" alt="Анджей Дуда"/>
      </a>
       <div class="card-body" style="color:rgba(151, 19, 19, 0.993); max-height: 260px; max-width: 280px; height: auto; width: auto;">
 <a class="nav-link card-text" href="/poldanes" style="color:rgba(151, 19, 19, 0.993);">
            <p class="card-title semibold" style="color:rgb(151, 19, 19); font-size: 16px;"> Дуда пояснив, чому Польща допомагає Україні</p>
      </a>
          </div>
        </div>   

      </div> 
       </div>

 <div class="row col w3-center justify-space-around">
<div class="col rounded w3-hover-shadow justify-space-between" style="color:rgba(151, 19, 19, 0.993); max-height: 300px; max-width: 300px; height: auto; width: auto;">
    <div class="card h-70 box18" style="width: 100%;">
      <a href="/concept" style="color:rgba(151, 19, 19, 0.993);" title="Концепція Інтермаріуму"> 
          <img src="/img/inmarmaping.webp" class="w3-image" style="max-width: auto; width: 300px;" alt="Концепція Інтермаріуму"/>
       </a> 
          <div class="card-body" style="color:rgba(151, 19, 19, 0.973); max-height: 260px; max-width: 280px; height: auto; width: auto;">
       <a class="nav-link card-text" href="/concept" style="color:rgba(151, 19, 19, 0.993);" title="Концепція Інтермаріуму"> 
    <p class="card-title semibold" style="color:rgb(151, 19, 19); font-size: 16px;">Концепція Інтермаріуму</p>
 </a> 
    </div>
          </div>   
       
        </div>
     
   
<div class="col rounded w3-hover-shadow justify-space-between" style="color:rgba(151, 19, 19, 0.993); max-height: 300px; max-width: 300px; height: auto; width: auto;">
    <div class="card h-70 box18" style="width: 100%;">
 <a href="/intermarium-fund" style="color:rgba(151, 19, 19, 0.973);" title="Заснування Інституту Інтермаріум"> 
          <img src="/img/publicemb.webp" class="w3-image" style="max-width: auto; width: 300px;" alt="Інститут Інтермаріум"/>
         </a> 
         <div class="card-body">
       <a class="nav-link " href="/intermarium-fund" style="color:rgba(151, 19, 19, 0.993);" title="Заснування Інституту Інтермаріум">   
   <p class="card-title semibold" style="color:rgb(151, 19, 19); font-size: 16px;">В Україні засновано Інститут Інтермаріум</p>
   </a> 
          </div>
        </div>

     </div>
  </div>


   
      
       </div>
       
        
        <div id="rightcolumn">
           <div class="col row">
      
     </div>
        </div> 
        </div>
    </div>
   


</main>