<div id="cssDisplay" class="row  p-3">



<div  class="col-4" style="background-color: #e2d8a6f6;">
  <a href="direction.php" class="btn">
  <div class="w3-card w3-hover-shadow">
     <div class="col-12 row">
        <img id="cssDisplay" src="/../img/haidaj.png" class="" alt="Керівник Інституту \"Інтермаріум\" ">
    </div>
    <div class="flex-row p-2 my-2 text-center">
         <h3 class="card-text">Керівник Інституту «Інтермаріум»</h3>
         <h2 class="card-text">Валентин Гайдай</h2>
   </div>
</div>
</a>  
</div>
        

    <div class="col-4" style="background-color: #e2d8a6f6;">
       <a href="yurchenko.php" class="btn">
<div class="w3-card w3-card w3-hover-shadow">
  <div class="col-12 row">
    <img id="cssDisplay" src="/../img/yurchenko.png" class=""></div>
    <div class="flex-row p-2 my-2 text-center">
    <h3 class="card-text">Експерт Інституту «Інтермаріум»</h3>
     <h2 class="card-text">Едуард Юрченко</h2>
</div>
</div>
</a>
</div>

    <div class="col-4" style="background-color: #e2d8a6f6;">
       <a href="chaplygin.php" class="btn">
<div class="w3-card w3-hover-shadow">
  <div class="col-12 row">
    <img id="cssDisplay" src="/../img/chap.png">
    </div>

<div class="flex-row p-2 my-2 text-center">
         <h3 class="card-text">Експерт Інституту «Інтермаріум»</h3>
     <h2 class="card-text">Сергій Чаплигін</h2>
</div>

 </div>  
   </a> 
</div>

    </div>
