<div id="cssDisplayNews" class="w3-center row g-2 res-cont inside-box p-3 " style="background-color: #e2d8a6ea;">

<div class="col-md-5 p-2 box13" style="background-color: #e2d8a6e3; color: rgba(104, 10, 10, 0.788);">
          <div class="card-body p-2">
              <a href="/tidings/news/index.php" class="btn w3-bar-item w3-button box13 fs-5" style="background-color: #e2d8a6ec; color: rgba(104, 10, 10, 0.966);"> 
              <h1 class="p-2 text-start">Новини</h1>
              </a>
          </div>
 </div>

<div class="col-md-5 p-2 box13 " style="background-color: #e2d8a6ec; color: rgba(104, 10, 10, 0.788);">

    <div class="card-body p-2">
        <a href="/tidings/news/index.php" class="btn w3-bar-item w3-button box13 fs-5" style="background-color: #e2d8a6ec; color: rgba(104, 10, 10, 0.966);"> 
        <h1 class="p-2 text-start">Події</h1>
        </a>
    </div>
</div>

  
</div>