


<style>


.text-flex-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  align-content: space-around;
}

.text-flex-items:nth-child(1) {
  display: block;
  width: 80%;
  flex-grow: 2;
  flex-shrink: 2;
  flex-basis: 1;
  align-self: flex-start;
  order: 0;
}

.text-flex-items:nth-child(2) {
  display: block;
  width: 85%;

  flex-grow: 2;
  flex-shrink: 2;
  flex-basis: 1;
  align-self: baseline;
  order: 0;
}

.text-flex-items:nth-child(3) {
  display: block;
  width: 90%;

  flex-grow: 2;
  flex-shrink: 2;
  flex-basis: 1;
  align-self: stratch;
  order: 0;
}

.text-flex-items:nth-child(4) {
  display: block;
  width: 90%;

  flex-grow: 2;
  flex-shrink: 2;
  flex-basis: 1;
  align-self: stratch;
  order: 0;
}

.text-flex-items:nth-child(5) {
  display: block;
  width: 90%;

  flex-grow: 2;
  flex-shrink: 2;
  flex-basis: 1;
  align-self: stratch;
  order: 0;
}
</style>




<div class="flex-person ms-5 mt-3 w3-animate-opacity" style="padding-top: 0px;">
  <div  class=" mb-1 ms-2 me-4 ">
    <img  id="cssDisplay" class="inside-box p-4" src="/img/yurchenko.png" style="width: 98%; "></div> 
</div>
  <div class="title-row">
  
  <div class="w3-center  box18">
    <h1 class="col-3 w3-center py-2 text-uppercase mt-2 text-center border-start border-3" > <b>Едуард Юрченко</b></h1>
   </div>
 </div>
 <div class="res-win box3 p-1 ">

<div class="resume text-flex-box inside-box p-1 ">

<div class="text-flex-items text-flex-box mt-3 pt-1 pb-1 px-2 " >
 <div class="text-flex-items ps-3">
  <ul type="none">
<li ><b>Експерт Інституту «Інтермаріум».</b></li>
  <p><li><b>Кандидат філософських наук.</b></li></p>
</ul>
</div>

<hr class="border-2 border-radius ms-3 ps-3 w3-animate-opacity" style="border: 1px solid rgba(70, 61, 20, 0.479); max-width: 75%; ">

  <div class="text-flex-items ms-1 ps-4 w3-animate-opacity ps-3">
    <p>
<b>Коло наукових інтересів:</b> футурологія, теорії еліт, філософія техніки, історіософія, релігієзнавство, геополітика, політична філософія.
</p>
</div>
<hr class="ms-5 ps-3 w3-animate-opacity" style="border: 1px solid rgba(70, 61, 20, 0.479); max-width: 80%; ">
  <div class="text-flex-items w3-animate-opacity ps-4">
<p> В творчому доробку Едуарда Юрченка близько 160 праць на політичну, філософську, історичну тематику. </p>
<p> Вищу освіту здобув в Київському національному університеті імені Т. Шевченка. </p>

</div>

</div>
</div>



<div class="w3-container w3-padding-large w3-display-container w3-justify p-5">
<div class="flex-person-box box8 description p-5">
   <div class="flex-person-item">
<p>У 2015 році захистив дисертацію на тему «Дискурс традиціоналізму у соціальній філософії». </p>

</div>
 <div class="flex-person-item">
<p>
 Зараз працює над темою «Концепції "війни нового покоління" в контексті досвіду повномасштабного вторгнення РФ в Україну».
Коло наукових інтересів: футурологія, теорії еліт, філософія техніки, історіософія, релігієзнавство, геополітика, політична філософія.
 </p>
</div>
 <div class="flex-person-item">
<p>
  Едуард Юрченко вважається одним із сучасних теоретиків концепції Інтермаріуму. Активно виступає за поглиблення співпраці між Україною та країнами Заходу, передусім з Польщею, країнами Балтії, країнами Чорноморського регіону
 </p>
</div>



</div>
</div>
</div>
 



