



html, body, header, footer {
	max-width: 320px;
	max-width: 480px;
	max-width: 760px;
	max-width: 960px;
	max-width: 1200px;
	max-width: 1600px;
	max-width: 1920px;

    
}


#columns {
	column-width: flex;
	-webkit-column-count: 3;
	-mox-column-count: 3;
	column-count: 3;
	-webkit-column-gap: 5px;
	-moz-column-gap: 5px;
	column-gap: 5px;
	-webkit-column-rule: 0px none #3366FF;
	-moz-column-rule: 0px none #3366FF;
	column-rule: 0px none #3366FF;
  }  


.w3-teal,.w3-hover-teal:hover {
  color: rgba(255, 249, 164, 0.671)!important;
  background-color: rgba(255, 252, 215, 0.534)!important
} 

.flex-container {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: baseline;
  align-content: center;
}

.flex-items:nth-child(1) {
  display: baseline;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 45%;
  align-self: auto;
  order: 0;
}

.flex-items:nth-child(2) {
  display: baseline;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 45%;
  align-self: auto;
  order: 0;
}

.flex-container-header {
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;
  }
  
  .flex-items-header:nth-child(1) {
	display: block;
	flex-grow: 0;
	flex-shrink: 3;
	flex-basis: auto;
	align-self: center;
	order: 0;
  }
  
  .flex-items-header:nth-child(2) {
	display: block;
	flex-grow: 0;
	flex-shrink: 1;
	flex-basis: auto;
	align-self: center;
	order: 0;
  }
  
  .flex-items-header:nth-child(3) {
	display: block;
	flex-grow: 0;
	flex-shrink: 3;
	flex-basis: auto;
	align-self: center;
	order: 0;
  }