  <div class="col-2 pe-5 me-5"> 
<menu type="list" style="padding-left: 2px;" class="p-0 text-dark">
<ul type="square" class="list-group">
<a type="button" class="btn btn-outline-info text-dark p-3 m-3" href="/news">Новини</a>
<a type="button" class="btn btn-outline-info text-dark p-3 m-3" href="/public">Статті</a>
<a type="button" class="btn btn-outline-info text-dark p-3 m-3" href="/analitics">Аналітика</a>
<a type="button" class="btn btn-outline-info text-dark p-3 m-3" href="/contacts">Контакти</a>
</ul>                  
</menu>
      </div>