<!DOCTYPE html>
<html lang="uk-UA" title="Офіційний сайт Інституту Інтермаріум" translate="yes">

<head title="Головна сторінка Інституту Інтермаріум">
  <title>
    Інститут "Інтермаріум"
  </title>
  <meta charset="utf-8" />  
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Інститут «Інтермаріум». Аналітичний та інформаційно-просвітницький центр. Інститут «Інтермаріум» являє собою організацію науково-дослідного та інформаційно-просвітницького типу" >
   <meta name="keywords" content="Інститут, Інститут «Інтермаріум», аналітика, аналітичний центра, науково-дослідницький, інформаційний, просвітницький, події, статті, новини">
<meta name="author" content="Валентин Гайдай">
  <link rel="shortcut icon" type="image/ico" href="/img/favicon.ico"/>
<link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
<link rel="manifest" href="/img/site.webmanifest">
<link rel="canonical" href="https://institute-intermarium.com"/>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="css/index.css" >
   <link rel="stylesheet" href="css/style.css" >
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css"> 
<link rel="stylesheet" href="css/normalize.css">

</head>
<body>
<style>
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;607;701;830&display=swap');
</style>

<header class="row w3-animate-top" style="background-image: url('/../img/background_header_contr.webp'); " >

<div class="flex-container-header " style="background-color:#e2d8a6d2;">
  

<section class="flex-container-header p-3" lang="uk-UA">
   <div class="flex-items-header justify-space-around w3-hide-small w3-hide-medium w3-center">
<a class="nav-link" href="/" alt="Інститут Інтермаріум">
      <p id="headerTitle" class="fw-semibold text-uppercase mt-3" style="color:rgba(151, 19, 19, 0.970); font-size: 40px;">  
     Інститут Інтермаріум</p>
</a>
   </div>
   <div class="flex-items-header justify-content-center w3-center"> 
                   <a href="/" alt="Інститут Інтермаріум">
                   <img class="container-flex logo mt-4 mb-3" src="/img/logof.webp" alt="logo" style="width: 40%; height: 40%; max-width: auto; max-height: auto;">
                   </a>
   </div>
   <div lang="en-US" class="flex-items-header justify-space-around w3-hide-small w3-hide-medium w3-center pe-2">
 <a class="nav-link" href="/" alt="Institute Intermarium">
     <p id="headerTitle" class="fw-semibold text-uppercase mt-3" style="color:rgba(151, 19, 19, 0.970); font-size: 40px;" >  
      Institute Intermarium</p>
 </a>
    </div>
</section>

</div>

</header>
<nav>
<div  class="w3-center w3-padding-large w3-animate-left" style="background-color:rgba(104, 10, 10, 0.979); color:rgba(240, 227, 172, 0.938);">


  <div class="w3-dropdown-hover mx-2" style="background-color:rgba(104, 10, 10, 0.788); color:rgba(240, 227, 172, 0.938);">
<button type="button" name="institute" class="btn mx-2 w3-padding-large w3-button box13 fs-5" style="color:rgba(240, 227, 172, 0.938);" title="Departments">Про Інститут </button>
<div class="w3-dropdown-content rounded w3-bar-block w3-card-4 p-1 " style="background-color:rgba(104, 10, 10, 0.788); color:rgba(240, 227, 172, 0.938);">

  <a href="/intermarium-concept" class="w3-bar-item w3-button box13 rounded fs-5">Концепція Інтермаріуму</a>
  <a href="/activities" class="w3-bar-item w3-button rounded box13 fs-5">Діяльність Інституту</a>
  </div>
</div>

    <div class="w3-dropdown-hover mx-2" style="background-color:rgba(104, 10, 10, 0.788); color:rgba(240, 227, 172, 0.938);">
<button type="button" name="team" class="btn mx-2 w3-padding-large w3-button box13 fs-5" style=" color:rgba(240, 227, 172, 0.938);" title="Departments">Склад Інституту </button>
<div class="w3-dropdown-content rounded w3-bar-block w3-card-4 p-1 " style="background-color:rgba(104, 10, 10, 0.788); color:rgba(240, 227, 172, 0.938);">
  
  <a href="institute/direction/" class="w3-bar-item w3-button rounded box13 fs-5">Керівництво</a>
  <a href="institute/depanalit/" class="w3-bar-item w3-button rounded box13 fs-5">Аналітична кафедра</a>
  
  </div>
</div>

<a href="/tidings/" type="button" class="btn mx-2 w3-padding-large w3-button box13 fs-5 w3-hide-small" style="background-color:rgba(104, 10, 10, 0.788); color:rgba(240, 227, 172, 0.938);">Новини, події</a>

<a href="/publications/" type="button" class="btn mx-2 w3-padding-large w3-button box13 fs-5 w3-hide-small" style="background-color:rgba(104, 10, 10, 0.788); color:rgba(240, 227, 172, 0.938);" >Статті, аналітика</a>

<a href="/contacts.php" type="button" class="btn mx-2 w3-padding-large w3-button box13 fs-5 w3-hide-small" style="background-color:rgba(104, 10, 10, 0.788); color:rgba(240, 227, 172, 0.938);">Контакти</a> 
  <a href="https://www.facebook.com/instituteintermarium" class="box13 w3-padding-large w3-hoverable rounded w3-bar-item w3-button mx-1 fs-5 w3-hide-small" style="background-color:rgba(104, 10, 10, 0.788); color:rgba(240, 227, 172, 0.938);"><i class="fa fa-facebook-official"> acebook</i></a>
<button type="button" class="w3-top w3-button w3-padding-small w3-hide-medium w3-hide-large  box13 rounded" style="float:left; background-color:rgba(104, 10, 10, 0.788); color:rgba(240, 227, 172, 0.938);" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></button>

 
</div>

<div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
<a href="/tidings/" class="w3-bar-item mx-2 w3-padding-large w3-button box13 fs-5" style="background-color:rgba(104, 10, 10, 0.788); color:rgba(240, 227, 172, 0.938);" onclick="myFunction()">Новини, події</a>

<a href="/publications/" type="button" class="w3-bar-item mx-2 w3-padding-large w3-button box13 fs-5" style="background-color:rgba(104, 10, 10, 0.788); color:rgba(240, 227, 172, 0.938);" onclick="myFunction()">Статті, аналітика</a>

<a href="/contacts.php" class="w3-bar-item mx-2 w3-padding-large w3-button box13 fs-5" style="background-color:rgba(104, 10, 10, 0.788); color:rgba(240, 227, 172, 0.938);" onclick="myFunction()">Контакти</a> 

<a href="https://www.facebook.com/instituteintermarium" class="w3-bar-item box13 w3-padding-large w3-hoverable rounded w3-bar-item w3-button mx-1 fs-5" style="background-color:rgba(104, 10, 10, 0.788); color:rgba(240, 227, 172, 0.938);"><i class="fa fa-facebook-official"> acebook</i></a>

</div>
 </nav>


  {{{body}}} 
  

 <footer id="headerTitle" class="row w3-padding-large" style="background-color:rgba(104, 10, 10, 0.988); color:rgba(255, 245, 201, 0.970);" title="Footer сторінки" translate="yes" dir="ltr" lang="uk-UA" tabindex="3">
  {{> footer}}
 
</footer>




<script>

document.getElementById("myBtn").click();
function myFunction(id) {
  var x = document.getElementById(id);
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}


function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}

</script>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>